
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p><a asp-action="Create" class="btn btn-success text-white" >Create New</a></p>